<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\shady_deals.css" type="text/css">
    <title>Index</title>
</head>
    <div class="topnav">
        <a href="/">Home</a>
        <a href='/stores'>Stores</a>
        <a href='/customers'>Customers</a>
        <a href='/employees'>Employees</a>
        <a href='/products'>Products</a>
        <a href='/transactions'>Transactions</a>
        <a href='/products_in_stores'>Product in Stores</a>
        <a href='/products_in_carts'>Product in Carts</a>
        <a class="active" href='/checkout_carts'>Checkout Carts</a>
    </div>
    <form id="update-checkout_cart" action="/checkout_cart" method="post">
        <h3>UPDATE CHECKOUT CART:</h3>
        Product Cart: <input type="number" name="product_cart" value="{{checkout.product_cart}}"><br>
    </form>
    <button onclick="updateCheckoutCart({{checkout.id}})">Update</button>
    <a href="/checkout_carts"><button>Back</button></a>
    {{!-- </form> --}}
</html>
